/.phpunit.cache
/.phpunit.result.cache
/clover.xml
/coverage/
/coveralls-upload.json
/coverage.txt
/phpbench.json
/phpunit.xml
/infection.log
/summary.log
/vendor/
/.vscode
/mago-results.txt
/config/development.config.php
/.specify/
/specs/
*:Zone.Identifier
